<div class="modal-header">
  <h4 class="modal-title" *ngIf="prescricao">Alterar prescrição</h4>
  <h4 class="modal-title" *ngIf="!prescricao">Nova prescrição</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form">

    <div class="form-group">
      <label for="medicamento">Medicamento</label>
      <select [(ngModel)]="selectedMedicamento" name="medicamento" class="form-control" id="medicamento"
              (change)="loadApresentacoes()">
        <option *ngFor="let medicamento of medicamentos" [ngValue]="medicamento">{{medicamento.nome}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedMedicamento">
      <label for="apresentacao">Apresentação</label>
      <select [(ngModel)]="selectedApresentacao" name="apresentacao" class="form-control" id="apresentacao">
        <option *ngFor="let apresentacao of apresentacoes" [ngValue]="apresentacao">{{ apresentacao.forma }} /
          {{apresentacao.concentracao}} / {{ apresentacao.qtd }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedApresentacao">
      <label for="posologia">Posologia</label>
      <select [(ngModel)]="selectedPosologia" name="posologia" class="form-control" id="posologia">
        <option *ngFor="let posologia of selectedApresentacao.posologias" [ngValue]="posologia">
          {{posologia.via}}/{{posologia.duracao}}/{{posologia.frequencia}}/{{posologia.quantidade}}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedPosologia">
      <label for="quantidade">Quantidade</label>
      <input [(ngModel)]="quantidade" type="number" name="quantidade" class="form-control" id="quantidade">
    </div>
  </form>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" *ngIf="prescricao" (click)="updatePrescricao()">Alterar Prescrição</button>
  <button type="submit" class="btn btn-primary" *ngIf="!prescricao" (click)="createPrescricao()">Adicionar Prescrição</button>
</div>
