<app-navigation></app-navigation>
<ng-progress [minimum]="0.15"
             [maximum]="1"
             [speed]="100"
             [color]="'red'"
             [ease]="'linear'"
             [spinnerPosition]="'left'"
></ng-progress>
<router-outlet></router-outlet>
