<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Apresentações</h3>
      <table class="table table-hover table-responsive">
        <thead>
        <tr>
          <th>Forma</th>
          <th>Concentração</th>
          <th>Quantidades</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let apresentacao of apresentacoes"
            [ngClass]="{'table-primary': apresentacao === selectedApresentcao}">
          <td>{{apresentacao.forma}}</td>
          <td>{{apresentacao.concentracao}}</td>
          <td>{{apresentacao.qtd}}</td>
          <td>
            <button class="btn btn-dark btn-sm" (click)="updatePosologias(apresentacao)"><i class="fa fa-plus"
                                                                                     aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6" *ngIf="selectedApresentcao">
      <button class="btn btn-sm btn-danger" (click)="closePosologias()">close</button>
      <table class="table table-responsive table-hover">
        <thead>
        <tr>
          <th>Via</th>
          <th>Duração</th>
          <th>Frequência</th>
          <th>Quantidade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let posologia of selectedApresentcao.posologias">
          <td>{{posologia.via}}</td>
          <td>{{posologia.duracao}}</td>
          <td>{{posologia.frequencia}}</td>
          <td>{{posologia.quantidade}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="offset-md-3  col-md-6" *ngIf="selectedApresentcao && userIsMedico()">
      <form class="form">
        <div class="form-group">
          <label for="comment">Novo comentário</label>
          <textarea class="form-control" id="comment" rows="3"  name="comment" [(ngModel)]="comentario" maxlength="255"></textarea>
          <small id="charsCount" class="form-text text-muted">Caracteres: {{ comentario.length }}/255</small>
        </div>
        <button class="btn btn-primary" (click)="postComentario()">Comentar</button>
      </form>
      <div class="card" *ngFor="let comentario of selectedApresentcao.comentarios">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{ comentario.data  | date }}</h6>
          <p class="card-text">
            {{ comentario.comentario }}
          </p>
          <a routerLink="/users/{{comentario.medicoId}}" class="card-link">Ver autor</a>
        </div>
      </div>

      <div *ngIf="selectedApresentcao.comentarios.length == 0" class="alert alert-info" role="alert">
        Ainda não existem comentários para esta apresentação
      </div>

    </div>

  </div>
</div>
