<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form class="form">
        <div class="form-group">
          <label for="utentes">Utente</label>
          <select [(ngModel)]="selectedUtente" name="utente" class="form-control" id="utentes">
            <option *ngFor="let user of users" [ngValue]="user">{{ user.nome }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="createReceita(selectedUtente._id)">Criar Receita</button>
      </form>
    </div>
  </div>
</div>
