
<div class="container">
  <div class="row">
    <div class="col">
        <h3>Medicamentos</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medicamento of medicamentos">
              <td><a routerLink="/medicamentos/{{medicamento.id}}">{{ medicamento.nome }}</a></td>
            </tr>
          </tbody>

        </table>

    </div>
  </div>
</div>
