<div class="container">
  <div class="row">
    <div class="col">
      <h3>Procurar receita</h3>
      <form class="form" (submit)="searchReceita()">
        <div class="form-group">
          <label for="receitaId">Id da receita</label>
          <input [(ngModel)]="receitaId" type="text" name="receitaId" class="form-control" id="receitaId">
        </div>
        <button type="submit" class="btn btn-primary">Procurar <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    </div>
  </div>
</div>
