<div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-4">
      <form #userForm="ngForm">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input [(ngModel)]="user.nome" type="text" class="form-control" id="nome" name="nome">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="user.email" type="text" class="form-control" id="email" name="email"
          [ngClass]="{'is-invalid': error}">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password"
                 [ngClass]="{'is-invalid': user.password && user.password.length < 8}">
          <small id="passwordHelp" class="form-text text-muted" *ngIf="user.password && user.password.length < 8">
            Password fraca
          </small>
        </div>

        <button type="submit" class="btn btn-success" (click)="createUser(); userForm.reset()"
                [ngClass]="{'disabled': !user.password || user.password.length < 8}" style="width:100%;">
          Criar Conta
        </button>

        <br>
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
