<div class="container" *ngIf="receita">
  <div class="row">
    <div class="col">
      <p><b>Criada a: </b> {{ receita.data | date}} </p>
      <p><b>Médico: </b><a routerLink="/users/{{ receita.medico._id }}">{{receita.medico.nome}} </a></p>
      <p><b>Utente: </b><a routerLink="/users/{{ receita.utente._id }}">{{ receita.utente.nome }} </a></p>
    </div>
  </div>
  <div class="row">
    <table class="table table-responsive table-hover" *ngIf="receita.prescricoes.length > 0">
      <thead>
      <tr>
        <th scope="col">Prescrição</th>
        <th scope="col">Válida até</th>
        <th scope="col">Qtd</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prescricao of receita.prescricoes"
          [ngClass]="{'table-success': prescricao.aviada,
                      'table-danger': !prescricao.aviada && (prescricao.validade < today)}">
        <td>{{ prescricao.apresentacao }}</td>
        <td>{{ prescricao.validade | date }}</td>
        <td>{{ prescricao.quantidade }}</td>
        <td><a routerLink="/receita/{{receita._id}}/prescricao/{{prescricao._id}}">
          <button class="btn btn-sm"><i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </a></td>

      </tr>
      </tbody>
    </table>

    <div *ngIf="receita.prescricoes.length == 0" class="alert alert-warning" role="alert">
      Ainda não há prescrições para esta receita
    </div>

  </div>
  <div class="row" *ngIf="canCreatePrescricao()">
    <button class="btn btn-primary" (click)="openPrescricaoForm()">Nova Prescrição</button>
  </div>
</div>
