<div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-4">
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="credentials.email"
                 type="text"
                 placeholder="email"
                 #email="ngModel"
                 name="email"
                 id="email"
                 class="form-control"
                 [ngClass]="{'is-invalid': error}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="credentials.password"
                 type="password"
                 placeholder="password"
                 #password="ngModel"
                 name="password"
                 id="password"
                 class="form-control"
                 [ngClass]="{'is-invalid': error}">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%">Login <i class="fa fa-sign-in"
                                                                                   aria-hidden="true"></i>
        </button>
        <br>
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
      </form>
      <p>Ou regsite-se <a routerLink="/register">aqui</a></p>
    </div>
  </div>
</div>
