<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="">Receitas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/medicamentos">Medicamentos</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" routerLink="/users/{{user._id}}">{{ user.nome }}</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <button *ngIf="loggedIn()" class="btn btn-danger" (click)="logout()" >Logout</button>
    </div>
  </div>
</nav>
