<div class="container" *ngIf="prescricao">
  <div class="row">
    <div class="col-md-12">
      <p><b>Apresentcao: </b>{{ prescricao.apresentacao }}</p>
      <p><b>Fármaco: </b>{{ prescricao.farmaco }}</p>
      <p><b>Posologia: </b>{{ prescricao.posologia }}</p>
      <p><b>Validade: </b>{{ prescricao.validade | date }}</p>
      <form class="form-inline" *ngIf="!prescricao.aviada && !prazoTerminado && userIsUtente()">
        <div class="form-group">
          <p><b>Alerta:</b> {{ prescricao.alerta | date }} </p>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="alerta" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-primary" (click)="guardarAlerta()"><i class="fa fa-floppy-o"
                                                                              aria-hidden="true"></i> Guardar alerta
          </button>
        </div>
      </form>

      <p><b>Quantidade </b>{{ prescricao.quantidade }}</p>
      <button *ngIf="userIsMedico() && prescricao.aviamentos.length == 0 && !prescricao.aviada && !prazoTerminado" class="btn btn-primary" (click)="openPrescricaoForm()">Alterar Prescricao <i class="fa fa-pencil" aria-hidden="true"></i> </button>
      <table class="table table-responsive" *ngIf="prescricao.aviamentos && (prescricao.aviamentos.length > 0)">
        <h4>Aviamentos</h4>
        <thead>
        <tr>
          <th>Data</th>
          <th>Farmaceutico</th>
          <th>Quantidade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aviamento of prescricao.aviamentos">
          <td>{{aviamento.data | date}}</td>
          <td><a routerLink="/users/{{aviamento.farmaceutico._id}}">{{aviamento.farmaceutico.nome}}</a></td>
          <td>{{aviamento.quantidade }}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="prescricao.aviada" class="alert alert-success" role="alert">
        Prescrição totalmente aviada
      </div>
      <div *ngIf="prescricao.aviamentos.length == 0 && !prescricao.aviada && !prazoTerminado"
           class="alert alert-primary" role="alert">
        Ainda não há aviamentos para esta prescrição
      </div>
      <div *ngIf="!prescricao.aviada && prazoTerminado" class="alert alert-danger" role="alert">
        Prescrição fora de validade
      </div>
    </div>
    <div class="col-md-12" *ngIf="!prescricao.aviada && !prazoTerminado && userIsFarmaceutico()">
      <form class="form" (submit)="aviarPrescricao()">
        <div class="form-group">
          <label for="quantidade">Quantidade</label>
          <input [(ngModel)]="quantidade" type="number" name="quantidade" class="form-control" id="quantidade">
        </div>
        <button type="submit" class="btn btn-primary">Aviar <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        </button>
      </form>

      <div *ngIf="aviamentoError" class="alert alert-danger" role="alert">
        {{aviamentoError}}
      </div>

    </div>
  </div>
</div>
