<div class="container">
  <div class="row">
    <div class="col" *ngIf="userIsMedico()">
      <app-receita-form></app-receita-form>
    </div>
  </div>
  <div class="row" *ngIf="receitas">
    <div class="col">
      <h3>Lista de Receitas</h3>
      <table class="table table-responsive table-hover" *ngIf="receitas.length > 0">
        <thead>
        <tr>
          <th>Médico</th>
          <th>Utente</th>
          <th>Data</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let receita of receitas">
          <td><a routerLink="/users/{{ receita.medico._id }}">{{receita.medico.nome}} </a></td>
          <td><a routerLink="/users/{{ receita.utente._id }}">{{ receita.utente.nome }} </a></td>
          <td>{{ receita.data | date}}</td>
          <td><a routerLink="/receita/{{ receita._id }}" class="btn btn-primary btn-sm">Ver mais <i class="fa fa-info-circle"
                                                                                             aria-hidden="true"></i>
          </a>
          </td>

        </tr>
        </tbody>
      </table>

      <div *ngIf="receitas.length == 0" class="alert alert-warning" role="alert">
        Não tem receitas disponíveis
      </div>

    </div>
  </div>
</div>
