<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-warning" (click)="goBack()">go back</button>
      <div *ngIf="user">
        <h2>{{ user.nome }}</h2>
        <p><b>Email: </b> <a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></p>
        <h3 *ngIf="user.medico"><i class="fa fa-user-md" aria-hidden="true"></i> Este utilizador é médico</h3>
        <h3 *ngIf="user.farmaceutico"><i class="fa fa-medkit" aria-hidden="true"></i> Este utilizador é farmaceutico</h3>
      </div>
    </div>
  </div>
</div>
