<div class="container">
  <div class="row">
    <div class="col-xs col-sm col-md col-lg col-xl">
      <h2>Users</h2>
      <ul class="list-unstyled">
        <li *ngFor="let user of users">
          <a routerLink="/users/{{user._id}}">
            <button class="btn btn-primary">
              {{user._id}} - {{user.nome}}
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

